<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="img/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>La pagina no existe</title>
    <link rel="stylesheet" href="/css/404.css" />
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="/js/404.js"></script>
  </head>
  <body>
      <div class="error-page">
          <div>
              <img src="/img/Logo.svg" alt="">
              <h1 data-h1="404">404</h1>
              <p data-p="NOT FOUND">La página no existe.</p>
              <a href="/">Volver al inicio</a>
            </div>
        </div>
        <p hidden>Si llegaste aquí por error o estás jugando con las entradas web para tratar de obtener algún tipo de información del sistema, me temo que 
            has llegado a un Dead End. Podrías intentar otra cosa aunque no lo recomiendo 😅. Ya que hay muchas personas que podrían resultar afectadas
            por tus malas intenciones y si llegaras a tener éxito, al final del día te seguirás sintiendo igual de vacío como antes de obtener
            lo que buscabas con tu pequeño experimento.    
        </p>
        <p hidden>De todas formas, te deseo lo mejor y, de ser así, espero que reconsideres tus acciones antes de se proceda de manera legal ;) tu ip registrada es <span id="IP"></span></p>

  </body>
</html>
