<!DOCTYPE html>
<html lang="es-MX">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Agenda - DermaTotal</title>
    <link rel="stylesheet" href="/fonts/Fuentes.css" />
    <link rel="stylesheet" href="/css/Agenda.css" />
    <link rel="stylesheet" href="/css/EstiloGlobal.css" />
    <% //FullCalendar %>
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.1/main.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'></script>
    <% //Bootstrap %>
    <script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
    <script src="https://unpkg.com/tooltip.js/dist/umd/tooltip.min.js"></script>
    <link rel="icon" href="/img/favicon.ico" />
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/navbar.js"></script>
  </head>

  <body>
    <%
    //==================================================================================================
    //La vista de carga
    //==================================================================================================
    %>
    <div id="LoadingLogo">
      <img src="/img/Logo.svg" alt="DermaTotal Logo" />
    </div>
    <%
    //==================================================================================================
    //El nav superior para todos
    //==================================================================================================
    %>
    <div class="main-header">
      <a href="/Dashboard"><img src="/img/LogoB.svg" alt="" class="Logo" /></a>
    </div>
    <div class="DropMenu">
      <% //Aqui se genera el DropMenu para todos los usuarios %>
    </div>

    <section class="nav-bar">
      <% //Aqui se generan los elementos del nav dependiendo del tipo de usuario
      %>
    </section>
    <% 
    //==================================================================================================
    // Contenido Creacion de Paciente --> 
    //==================================================================================================
    %>



<h1>Agenda</h1>

<div id="calendar-container">
  <div id="calendar"></div>
</div>

<div class="footer">
  <% // Aqui va el contenido del Footer%>
</div>

<script type="module" src="/js/agenda.js"></script>
  </body>
  </html>
