<!DOCTYPE html>
<html lang="es-MX">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Busqueda - DermaTotal</title>
    <link rel="stylesheet" href="/fonts/Fuentes.css" />
    <link rel="stylesheet" href="/css/Busqueda.css" />
    <link rel="stylesheet" href="/css/EstiloGlobal.css" />
    <link rel="icon" href="/img/favicon.ico" />
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/navbar.js"></script>
    <script src="/js/busqueda.js"></script>
  </head>

  <body>
    <%
    //==================================================================================================
    //La vista de carga
    //==================================================================================================
    %>
    <div id="LoadingLogo">
      <img src="/img/Logo.svg" alt="DermaTotal Logo" />
    </div>
    <%
    //==================================================================================================
    //El nav superior para todos
    //==================================================================================================
    %>
    <div class="main-header">
      <a href="/Dashboard"><img src="/img/LogoB.svg" alt="" class="Logo" /></a>
    </div>
    <div class="DropMenu">
      <div class="Perfil" id="Perfil">
        <img src="/img/UserIco.webp" alt="/img/UserIco.webp" />
      </div>
      <div class="Menu" id="Menu">
        <div class="UserMenu">
          <h2><%=Nombre%></h2>
          <b><%=TipUser%></b><br />
          <span><%=Empresa%></span>
        </div>
        <ul>
          <li><a href="#">Perfil</a></li>
          <li><a href="#">Tema</a></li>
          <li><a href="/logout">Cerrar Sesión</a></li>
        </ul>
      </div>
    </div>

    <%//Hacemos el cambio del primer nav dependiendo del tipo de usuario%> <%
    switch (ClaseUsuario){
    //==================================================================================================
    // Nav-SuperAdmin-->
    //==================================================================================================
    case 1: %>
    <!-- Barra Sticky -->
    <section class="nav-bar">
      <!-- Dashboard -->
      <div style="cursor: pointer" id="Dashboard">
        <h2 class="nav-1">
          <img src="/img/Icons/DashBoard.svg" class="icono" />
          Dashboard
        </h2>
      </div>
      <!-- Agenda -->
      <div style="cursor: pointer" id="Agenda">
        <h2 class="nav-2">
          <img src="/img/Icons/Agenda.svg" class="icono" /> Agenda
        </h2>
      </div>
      <!-- Pacientes -->
      <div style="cursor: pointer" id="Pacientes">
        <h2 class="nav-3">
          <img src="/img/Icons/Lupa.svg" class="icono" /> Pacientes
        </h2>
      </div>
      <!-- Inventario -->
      <div style="cursor: pointer" id="Inventario">
        <h2 class="nav-4">
          <img src="/img/Icons/Inventario.svg" class="icono" />
          Inventario
        </h2>
      </div>
      <!-- Ventas  -->
      <div style="cursor: pointer" id="Cortes">
        <h2 class="nav-5">
          <img src="/img/Icons/Corte.svg" class="icono" /> Cortes
        </h2>
      </div>
    </section>
    <% break;
    //==================================================================================================
    // Nav-Admin-->
    //==================================================================================================
    case 2: %>
    <!-- Barra Sticky -->
    <section class="nav-bar">
      <!-- Dashboard -->
      <div style="cursor: pointer" id="Dashboard">
        <h2 class="nav-1">
          <img src="/img/Icons/DashBoard.svg" class="icono" />
          Dashboard
        </h2>
      </div>
      <!-- Agenda -->
      <div style="cursor: pointer" id="Agenda">
        <h2 class="nav-2">
          <img src="/img/Icons/Agenda.svg" class="icono" /> Agenda
        </h2>
      </div>
      <!-- Pacientes -->
      <div style="cursor: pointer" id="Pacientes">
        <h2 class="nav-3">
          <img src="/img/Icons/Lupa.svg" class="icono" /> Pacientes
        </h2>
      </div>
      <!-- Ventas  -->
      <div style="cursor: pointer" id="Cortes">
        <h2 class="nav-5">
          <img src="/img/Icons/Corte.svg" class="icono" /> Cortes
        </h2>
      </div>
    </section>
    <% break;
    //==================================================================================================
    // Nav-Doctor-->
    //==================================================================================================
    case 3: %>
    <!-- Barra Sticky -->
    <section class="nav-bar">
      <!-- Dashboard -->
      <div style="cursor: pointer" id="Dashboard">
        <h2 class="nav-1">
          <img src="/img/Icons/DashBoard.svg" class="icono" />
          Dashboard
        </h2>
      </div>
      <!-- Agenda -->
      <div style="cursor: pointer" id="Agenda">
        <h2 class="nav-2">
          <img src="/img/Icons/Agenda.svg" class="icono" /> Agenda
        </h2>
      </div>
      <!-- Pacientes -->
      <div style="cursor: pointer" id="Pacientes">
        <h2 class="nav-3">
          <img src="/img/Icons/Lupa.svg" class="icono" /> Pacientes
        </h2>
      </div>
    </section>
    <% break;
    //==================================================================================================
    // Nav-Recepcionista-->
    //==================================================================================================
    case 4: %>
    <!-- Barra Sticky -->
    <section class="nav-bar">
      <!-- Dashboard -->
      <div style="cursor: pointer" id="Dashboard">
        <h2 class="nav-1">
          <img src="/img/Icons/DashBoard.svg" class="icono" />
          Dashboard
        </h2>
      </div>
      <!-- Agenda -->
      <div style="cursor: pointer" id="Agenda">
        <h2 class="nav-2">
          <img src="/img/Icons/Agenda.svg" class="icono" /> Agenda
        </h2>
      </div>
      <!-- Pacientes -->
      <div style="cursor: pointer" id="Pacientes">
        <h2 class="nav-3">
          <img src="/img/Icons/Lupa.svg" class="icono" /> Pacientes
        </h2>
      </div>
      <!-- Inventario -->
      <div style="cursor: pointer" id="Inventario">
        <h2 class="nav-4">
          <img src="/img/Icons/Inventario.svg" class="icono" />
          Inventario
        </h2>
      </div>
    </section>
    <% break;
    //==================================================================================================
    // Nav-Recepcinista(Lite)-->
    //==================================================================================================
    case 5: %>
    <!-- Barra Sticky -->
    <section class="nav-bar">
      <!-- Dashboard -->
      <div style="cursor: pointer" id="Dashboard">
        <h2 class="nav-1">
          <img src="/img/Icons/DashBoard.svg" class="icono" />
          Dashboard
        </h2>
      </div>
      <!-- Agenda -->
      <div style="cursor: pointer" id="Agenda">
        <h2 class="nav-2">
          <img src="/img/Icons/Agenda.svg" class="icono" /> Agenda
        </h2>
      </div>
      <!-- Pacientes -->
      <div style="cursor: pointer" id="Pacientes">
        <h2 class="nav-3">
          <img src="/img/Icons/Lupa.svg" class="icono" /> Pacientes
        </h2>
      </div>
    </section>
    <% break;
    //==================================================================================================
    // Nav-Asociado-->
    //==================================================================================================
    case 6: %>
    <!-- Barra Sticky -->
    <section class="nav-bar">
      <!-- Dashboard -->
      <div style="cursor: pointer" id="Dashboard">
        <h2 class="nav-1">
          <img src="/img/Icons/DashBoard.svg" class="icono" />
          Dashboard
        </h2>
      </div>
      <!-- Pacientes -->
      <div style="cursor: pointer" id="Pacientes">
        <h2 class="nav-3">
          <img src="/img/Icons/Lupa.svg" class="icono" /> Pacientes
        </h2>
      </div>
    </section>
    <% break;
    //==================================================================================================
    // Nav-Coalquier otro usuario (Paciente)-->
    //==================================================================================================
    default:%>
    <section class="nav-bar">
      <!-- Dashboard -->
      <div style="cursor: pointer" id="Dashboard">
        <h2 class="nav-1">
          <img src="/img/Icons/DashBoard.svg" class="icono" /> Inicio
        </h2>
      </div>
      <!-- Agenda -->
      <div style="cursor: pointer" id="HistorialVistaPaciente">
        <h2 class="nav-2">
          <img src="/img/Icons/HistorialClinico.svg" class="icono" />
          Historial Clinico
        </h2>
      </div>
    </section>
    <%break; }
    //==================================================================================================
    // Contenido Busqueda de pacientes
    //==================================================================================================
    %>
    <h1>Busqueda Pacientes:</h1>
    <div class="input-area">
      <input name="BNombre" id="BNombre" type="text" placeholder="Nombre" class="f-inp" />
      <input name="BApellido" id="BApellido" type="text" placeholder="Apellido" class="f-inp" />
      <input name="BTelefono" id="BTelefono" type="text" placeholder="Correo / Teléfono" class="f-inp" />
      <button type="button" id="submit-button">Buscar</button>
    </div>
    <div id="ResultadosBusqueda">
        <!-- Aqui van los resultados de la busqueda en la base de datos -->
    </div><br><br>
  

    <!-- Copyright -->
    <div class="footer">
        <b> <%=Copy+" "+Empresa+" "+" "+Año+" v"+Ver %> </b>
    </div>
  </body>
</html>
