<!DOCTYPE html>
<html lang="es-MX">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <% //Este es el tiempo antes de que se actualice la pagina automaticamente (10 min) %>
    <meta http-equiv="refresh" content="600">
    <title>Busqueda - DermaTotal</title>
    <link rel="stylesheet" href="/fonts/Fuentes.css" />
    <link rel="stylesheet" href="/css/Busqueda.css" />
    <link rel="stylesheet" href="/css/EstiloGlobal.css" />
    <link rel="icon" href="/img/favicon.ico" />
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/navbar.js"></script>
    <script src="/js/busqueda.js"></script>
  </head>

  <body>
    <%
    //==================================================================================================
    //La vista de carga
    //==================================================================================================
    %>
    <div id="LoadingLogo">
      <img src="/img/Logo.svg" alt="DermaTotal Logo" />
    </div>
    <%
    //==================================================================================================
    //El nav superior para todos
    //==================================================================================================
    %>
    <div class="main-header">
      <a href="/Dashboard"><img src="/img/LogoB.svg" alt="" class="Logo" /></a>
    </div>
    <div class="DropMenu">
      <div class="Perfil" id="Perfil">
        <img src="/img/UserIco.webp" alt="/img/UserIco.webp" />
      </div>
      <div class="Menu" id="Menu">
        <div class="UserMenu">
          <h2><%=Nombre%></h2>
          <b><%=TipUser%></b><br />
          <span><%=Empresa%></span>
        </div>
        <ul>
          <li><a href="#">Perfil</a></li>
          <li><a href="#">Tema</a></li>
          <li><a href="/logout">Cerrar Sesión</a></li>
        </ul>
      </div>
    </div>

    <section class="nav-bar">
      <!-- Aqui se generan los elementos del nav dependiendo del tipo de usuario -->
    </section>

    <!-- ================================================================================================== -->
    <!-- Contenido Busqueda de pacientes -->
    <!-- ================================================================================================== -->

    <h1>Busqueda Pacientes:</h1>
    <div class="input-area">
      <input name="BNombre" id="BNombre" type="text" placeholder="Nombre" class="f-inp" />
      <input name="BApellido" id="BApellido" type="text" placeholder="Apellido" class="f-inp" />
      <input name="BTelefono" id="BTelefono" type="text" placeholder="Correo / Teléfono" class="f-inp" />
      <button type="button" id="submit-button">Buscar</button>
    </div>
    <div id="ResultadosBusqueda">
        <!-- Aqui van los resultados de la busqueda en la base de datos -->
    </div><br><br>
  

    <!-- Copyright -->
    <div class="footer">
      <!-- Aqui va el contenido del Footer -->
    </div>
  </body>
</html>
