<!DOCTYPE html>
<html lang="es-MX">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DashBoard - DermaTotal</title>
    <%// Iconos de Bootstrap%>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <!-- <script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script> -->
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <link rel="stylesheet" href="/fonts/Fuentes.css" />
    <link rel="stylesheet" href="/css/Dashboard.css" />
    <link rel="stylesheet" href="/css/EstiloGlobal.css" />
    <link rel="icon" href="/img/favicon.ico" />
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/navbar.js"></script>
  </head>

  <body>
    <%
    //==================================================================================================
    //La vista de carga
    //==================================================================================================
    %>
    <div id="LoadingLogo">
      <img src="/img/Logo.svg" alt="DermaTotal Logo" />
    </div>
    <%
    //==================================================================================================
    //El nav superior para todos
    //==================================================================================================
    %>
    <div class="main-header">
      <a href="/Dashboard"><img src="/img/LogoB.svg" alt="" class="Logo" /></a>
    </div>
    <div class="DropMenu">
      <% //Aqui se genera el DropMenu para todos los usuarios %>
    </div>

    <section class="nav-bar">
      <% //Aqui se generan los elementos del nav dependiendo del tipo de usuario
      %>
    </section>
    <%
    //==================================================================================================
    // InfoDasboard (SuperAdmin, Admin y Doctor)-->
    //==================================================================================================
    switch (ClaseUsuario){ case 1: case 2: case 3:%> <%//Scripts para la paginacion en el sitio web%>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.1/jquery.twbsPagination.min.js"></script>
    <script src="/js/dashboard.js"></script>
    <script src="/js/Dashboard/dashDoc.js"></script>
    <%//Crea la vista de opciones la cual, en un inicio estará oculta%>
    <div id="Cont_Opciones">
      <div id="Opciones">
        <h1 id="TituloOpciones">Cargando Titulo de Opciones...</h1>
        <p id="MensajeOpciones">Cargando Mensaje de las opciones...</p>
        <div class="InfoOpciones"><%//El contenido de rellena con JS%></div>
      </div>
    </div>
    <%//Y este ya es el contenido de la vista%>
    <h1 class="saludo">Cargando Saludo...</h1>
    <div class="contenido">
      <% //Contenido de la Izquierda%>
      <div class="Izquierda">
        <h2 class="Titulo">
          Registro de Entrada (<b class="NumeroPacientesEspera"></b>): <button class="bi-arrow-repeat" id="Doc_ActualizarEspera"></button>
        </h2>
        <% //Citas en Turno%>
        <div class="Entrada">
          <div class="PacientesEnEspera">
            <% //Aqui van los usuarios en la sala de espera%>
          </div>
          <div class="PaginacionEspera"></div>
        </div>
        <% // Otros Consultorios%>
        <div class="OC">
          <h2 class="Titulo">
            Otros Consultorios (<b class="NumeroOtrosConsultorios"></b>): <button class="bi-arrow-repeat" id="Doc_ActualizarOC"></button>
          </h2>
          <div class="Otros">
            <div class="ContenidoOtrosConsultorios">
              <% // Aqui se genera el contenido de la tabla de otros consultorios%>
            </div>
            <div class="PaginacionOtros"></div>
          </div>
        </div>
      </div>
      <% // Contenido de la derecha%>
      <div class="Derecha">
        <% // Citas Confirmadas para hoy%>
        <h2 class="Titulo">
          Citas para hoy (<b class="NumeroPacientesCitasHoy"></b>): <button class="bi-arrow-repeat" id="Doc_ActualizarCitasHoy"></button>
        </h2>
        <div class="CCPH">
          <div class="Hoy">
            <div class="PacientesHoy">
              <% // Aqui se genera el contenido de la tabla de citas para hoy %>
            </div>
            <div class="PaginacionHoy"></div>
          </div>
        </div>
        <% // Citas Finalizadas%>
        <div class="CF">
          <h2 class="Titulo">
            Citas Finalizadas (<b class="NumeroCitasFinalizadas"></b>): <button class="bi-arrow-repeat" id="Doc_ActualizarCF"></button>
          </h2>
          <div class="Finalizadas">
            <div class="ContenidoCitasFinalizadas">
              <% // Aqui se genera el contenido de la tabla CitasFinalizadas%>
            </div>
            <div class="PaginacionCF"></div>
          </div>
        </div>
      </div>
    </div>

    <% break; case 4: %> <%//Estilos personalizados para la vista de Recepcion%>
    <link rel="stylesheet" href="/css/Dashboards/Recepcion.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.1/jquery.twbsPagination.min.js"></script>
    <script src="/js/dashboard.js"></script>
    <script src="/js/Dashboard/dashRecep.js"></script>
    <%//Crea la vista de opciones la cual, en un inicio estará oculta%>
    <div id="Cont_Opciones">
      <div id="Opciones">
        <h1 id="TituloOpciones">Cargando Titulo de Opciones...</h1>
        <p id="MensajeOpciones">Cargando Mensaje de las opciones...</p>
        <div class="InfoOpciones"><%//El contenido de rellena con JS%></div>
      </div>
    </div>
    <h1 class="saludo">Cargando Saludo...</h1>
    <!-- <a href="#" id="NuevoPaciente">NuevoPaciente</a> -->
    <div class="ContenidoRecepcion">
      <div class="PacientesdeHoy">
        <h2>Pacientes de hoy: <button class="bi-arrow-repeat" id="Recep_Actualizar_P_Hoy"></button></h2>
        <div class="CitasHoy"></div>
      </div>
      <div class="PacientesPedidos">
        <h2>Pacientes Pedidos: <button class="bi-arrow-repeat" id="Recep_Actualizar_P_Pedidos"></button></h2>
        <div class="Pedidos"></div>
      </div>
      <div class="PacientesCheckout">
        <h2>Pacientes Finalizados: <button class="bi-arrow-repeat" id="Recep_Actualizar_P_Checkout"></button></h2>
        <div class="PacientesFinalizados"></div>
        <div class="PaginacionPF"></div>
      </div>
    </div>

    <% break; case 5: %> <%//Estilos personalizados para la vista de Recepcion%>
    <link rel="stylesheet" href="/css/Dashboards/Recepcion.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.1/jquery.twbsPagination.min.js"></script>
    <script src="/js/dashboard.js"></script>
    <script src="/js/Dashboard/dashRecep.js"></script>
    <%//Crea la vista de opciones la cual, en un inicio estará oculta%>
    <div id="Cont_Opciones">
      <div id="Opciones">
        <h1 id="TituloOpciones">Cargando Titulo de Opciones...</h1>
        <p id="MensajeOpciones">Cargando Mensaje de las opciones...</p>
        <div class="InfoOpciones"><%//El contenido de rellena con JS%></div>
      </div>
    </div>
    <h1 class="saludo">Cargando Saludo...</h1>
    <!-- <a href="#" id="NuevoPaciente">NuevoPaciente</a> -->
    <div class="ContenidoRecepcion">
      <div class="PacientesdeHoy">
        <h2>Pacientes de hoy: <button class="bi-arrow-repeat" id="Recep_Actualizar_P_Hoy"></button></h2>
        <div class="CitasHoy"></div>
      </div>
      <div class="PacientesCheckout">
        <h2>Pacientes Finalizados: <button class="bi-arrow-repeat" id="Recep_Actualizar_P_Checkout"></button></h2>
        <div class="PacientesFinalizados"></div>
        <div class="PaginacionPF"></div>
      </div>
    </div>

    <% break; case 6: %> <%//Estilos personalizados para la vista de Asociado%>
    <link rel="stylesheet" href="/css/Dashboards/Asociado.css" />
    <h1 class="saludo">Cargando Saludo...</h1>

    <% break; default: %> <%//Estilos personalizados para la vista de Paciente%>
    <link rel="stylesheet" href="/css/Dashboards/Paciente.css" />
    <h1 class="saludo">Cargando Saludo...</h1>

    <% break; }%> <% // Copyright%>
    <div class="footer"><% // Aqui va el contenido del Footer%></div>
  </body>
</html>
