<!DOCTYPE html>
<html lang="es-MX">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receta - DermaTotal</title>
    <link rel="stylesheet" href="/fonts/Fuentes.css" />
    <link rel="stylesheet" href="/css/Receta.css" />
    <link rel="icon" href="/img/favicon.ico"/>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="/js/receta.js"></script>
</head>
<body>
    <div id="ContenidoReceta">
        <%//Conenido generado con JS%>
    </div>
</body>
</html>