.app {
    margin: 0 auto;
}

.TextoHeaderPaciente {
    margin-left: 25px;
    height: auto;
    width: auto;
}
#TituloOpciones{
    font-size: 38px;
}

#MensajeOpciones{
    font-size: 24px;
}

.Cont_TextNombre {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 20px;
}

.iconbtn--edit.Nombre {
    color: black;
    background-color: white;
}

.botonCancelarNombre,
.botonGuardarNombre {
    margin-left: 10px;
}

.Cont_InputsNombre>* {
    margin-top: 5px;
}

#InputNombre,
#ApellidoP,
#ApellidoM {
    color: orange;
    border: 2px solid rgb(255, 218, 150);
    background-color: white;
    border-radius: 5px;
    font-size: 24px;
    padding: 5px 10px;
}

#InputNombre::placeholder,
#ApellidoP::placeholder,
#ApellidoM::placeholder {
    color: orange;
    opacity: 0.5;
    /* Firefox */
}

.Cont_InputsNombre {
    display: none;
}

.contfotousuario {
    z-index: 0;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 10px;
    align-items: center;
}

.fotousuario {
    top: 0;
    left: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.fotohistorial {
    height: 22.5%;
    width: 22.5%;
    border-radius: 10px;
    margin: 5px;
}

a {
    font-size: 14px;
    text-decoration: none;
    color: inherit;
}

h1 {
    padding: 0 !important;
}

.text--sm {
    font-size: 80%;
}

.text--md {
    font-size: 100%;
}

/* .text--lg {
    font-size: 130%;
} */

.btn {
    transition: background-color 0.5s, border-color 0.5s, color 0.5s;
    display: block;
    margin: 0;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
    background: transparent;
    color: inherit;
}

.iconbtn,
.app__nav__link,
.iconbtn--edit,
.iconbtn--cancelar {
    transition: background-color 0.5s, border-color 0.5s, color 0.5s;
    display: block;
    margin: 0;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
    background: transparent;
    color: inherit;
    width: 24px;
    height: 24px;
    border-radius: 100%;
}

.iconbtn--cancelar::before {
    display: flex;
    justify-content: center;
    align-items: center;
    content: "Cancelar";
    color: red;
    width: 100%;
    height: 100%;
}

.iconbtn--confirm {
    border: none;
    border-radius: 5px;
    padding: 2px 10px;
    background-color: #ecf5f6;
    color: #249DD9;
}

.iconbtn--confirm:hover {
    cursor: pointer;
}

.iconbtn--passrestart {
    border: none;
    /* border-radius: 5px; */
    background-color: #fff;
    padding: 2px 10px;
    color: red;
}

.iconbtn--passrestart:hover {
    cursor: pointer;
}

.iconbtn::before,
.app__nav__link::before,
.iconbtn--edit::before {
    display: flex;
    justify-content: center;
    align-items: center;
    content: "×";
    width: 100%;
    height: 100%;
}

.iconbtn--edit {
    background: #e9f2f7;
}

.iconbtn--edit::before {
    content: "✎";
}

.iconbtn--save {
    font-size: 15px;
    background-color: green;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    border: green;
}

.iconbtn--print {
    font-size: 15px;
    background-color: #249DD9;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    border: #249DD9;
}

.iconbtn--print::before {
    content: "    🖨️     ";
}

.iconbtn--editar {
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: orange;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    border: none;
}

.botonEditarAlergias {
    justify-content: center;
    align-items: center;
    padding: 3px 8px 3px 8px;
    background-color: orange;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    border: none;
}


.botonCancelarAlergias,
.botonCancelarNombre {
    font-size: 15px;
    background-color: red;
    color: #fff;
    padding: 3px 8px 3px 8px;
    border-radius: 5px;
    border: red;
}

.botonGuardarAlergias,
.botonGuardarNombre {
    font-size: 15px;
    background-color: rgb(29, 196, 29);
    color: #fff;
    padding: 3px 8px 3px 8px;
    border-radius: 5px;
    border: rgb(46, 198, 35);
}

#inputAlergias {
    border: 0.5px solid #004368;
    border-radius: 2px;
    padding: 5px 10px;
}

#inputAlergias::placeholder {
    color: #004368;
    opacity: 0.75;
    /* Firefox */
}

.iconbtn--cancel {
    justify-content: center;
    align-items: center;
    background-color: #00000000;
    border: #00000000;
    color: red;
}

.iconbtn--Eliminar {
    background-color: rgb(229, 16, 16);
    padding: 8px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    color: white;
}


.tag--alert {
    transition: background-color 0.5s, border-color 0.5s, color 0.5s;
    display: block;
    margin: 0;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
    background: transparent;
    color: inherit;
    background: #fee8e6;
    color: red;
}

.tag--success {
    transition: background-color 0.5s, border-color 0.5s, color 0.5s;
    display: block;
    margin: 0;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
    background: transparent;
    color: inherit;
    background: #73dc11;
    color: #fff;
}

.tag--success+.tag--success {
    margin-left: 5px;
}

.tablist {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 12px;
    padding-left: 25px;
}

.tablist>li {
    margin-right: 20px;
}

.tablist__link {
    transition: background-color 0.5s, border-color 0.5s, color 0.5s;
    display: block;
    margin: 0;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
    background: transparent;
    color: inherit;
    padding: 10px 0;
    border-bottom: 3px solid transparent;
    border-radius: 0;
}

.tablist__link:hover,
.tablist__link.activo {
    color: #00acfe;
    border-bottom-color: currentColor;
}

.app {
    margin-top: 25px;
    display: flex;
    width: 100%;
    max-width: 1450px;
    overflow: hidden;
    /* background: #e9f2f7; */
    background: #abdbff34;
}

@media (min-width: 768px) {
    .app {
        border-radius: 5px;
        box-shadow: 0 30px 50px -10px rgba(0, 0, 0, 0.15);
    }
}

.app__nav {
    display: flex;
    flex-direction: column;
    background: #fff;
}

.app__nav__controls {
    padding: 5px;
}

.app__nav__controlbtn {
    transition: background-color 0.5s, border-color 0.5s, color 0.5s;
    display: block;
    margin: 0;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
    background: transparent;
    color: inherit;
    width: 100%;
    padding: 5px 0;
    background: #73c235;
    color: #fff;
}

.app__nav__links {
    margin: 10px 0;
    color: #83a3b0;
}

.app__nav__link {
    width: 40px;
    height: 32px;
    padding: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-radius: 0;
    overflow: hidden;
    text-align: center;
}

.app__nav__link::before {
    content: "×";
}

.app__nav__link:hover,
.app__nav__link.is-active {
    border-left-color: #00acfe;
    background: #718d9c;
    color: #000;
}

.app__content {
    flex: 1;
    padding: 0 5px;
    overflow-y: visible;
    min-height: 700px;
}

@media (min-width: 768px) {
    .app__content {
        height: auto;
        padding: 10px 20px;
    }
}

.page__header {
    margin-top: 10px;
    color: #333;
}

@media (min-width: 768px) {
    .page__header {
        display: flex;
        align-items: center;
    }
}

.page__header__title {
    font-weight: normal;
    font-size: 20px;
}

.page__controls {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: auto;
}

.page__controls>li {
    margin-right: 20px;
}

.TerminarConsulta {
    transition: background-color 0.5s, border-color 0.5s, color 0.5s;
    display: block;
    margin: 0;
    border: none;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
    background: transparent;
    color: inherit;
    padding: 5px 10px;
    background: rgb(250, 20, 20);
    color: #fff;
    font-size: 16px;
}

.page__controlbtn--split {
    font-size: 16px;
    transition: background-color 0.5s, border-color 0.5s, color 0.5s;
    display: block;
    margin: 0;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
    background: transparent;
    color: inherit;
    padding: 5px 10px;
    background: #fff;
    color: #00acfe;
}

.region__title {
    margin: 0;
    font-weight: normal;
}

@media (min-width: 768px) {
    .region__content {
        display: flex;
        flex-direction: row;
        margin-top: 20px;
    }
}

.infogroup {
    flex: 1;
    margin: 0 0px 10px;
}

.info,
.info--active {
    border: 1px solid transparent;
    border-radius: 5px;
    overflow: hidden;
}

.info+.info,
.info--active+.info,
.info+.info--active,
.info--active+.info--active {
    margin: 10px 0 0;
}

.info--active {
    border-color: #00acfe;
}

.info__item {
    background: #fff;
    border-radius: 3px;
}

.info__item+.info__item {
    border-top: 1px solid #e9f2f7;
}

.info__item__content {
    padding: 10px;
}

.info__item__content p {
    margin: 5px 0 0;
}

.info__item__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}


.info__item__textarea {
    font-family: LouisGeorgeCafé, LiberationSerif, sans-serif;
    font-size: 16px;
    resize: vertical;
    margin-top: 10px;
    padding: 10px;
    width: 96.5%;
    min-height: 50px;
    max-height: 160px;
    border: 1px solid #e9f2f7;
    border-radius: 5px;
}

.info__item__title {
    margin: 0;
    font-weight: bold;
    /* font-weight: 800; */
    font-size: large;
    color: #333;
}

.info__item__map {
    position: relative;
    height: 60px;
    background: #8cc6ff;
}

.avatar {
    display: flex;
    align-items: center;
}

.avatar p {
    margin: 0;
}

.info .avatar,
.info--active .avatar {
    margin: 5px 0 0;
}

.avatar__icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 100%;
    overflow: hidden;
    background: #e9f2f7;
    box-shadow: #000;
}

.avatar__icon img {
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    object-fit: cover;
}


.avatar__role {
    display: block;
}

.AñadirMedicamento {
    margin-left: 10px;
    font-size: 15px;
    background-color: #73c235;
    color: #fff;
    padding: 8px 10px;
    border-radius: 5px;
    border: #73c235;
}

#botonNuevaReceta {
    font-size: 15px;
    background-color: #73c235;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    border: #73c235;
}

#cancelarReceta {
    color: red;
    border: 0;
    background-color: #fff;
}

#quitarCampo,
.QuitarMedicamento {
    font-size: 15px;
    background-color: #ff0000;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    border: #ff0000;
}

#GuardarReceta {
    font-size: 20px;
    margin: 20px 0px 20px 0px;
    background-color: #249DD9;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    border: #249DD9;
}

#camposMedicamentos {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.medicamentoreceta {
    font-weight: bold;
    font-size: 25px;
    padding: 10px;
    margin-bottom: 10px;
    width: 50%;
    height: auto;
}

.indicacionreceta {
    font-size: 15px;
    padding: 5px;
    margin-bottom: 50px;
    width: 95%;
    height: auto;
}

.Nota {
    width: 65%;
    display: flex;
}

.input-receta.inputNota {
    width: 50%;

}


.RecetaNota {
    color: rgb(255, 145, 0);
    display: flex;
    padding: 10px;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.RecetaNota>h3,
.RecetaNota>p {
    margin: 0;
}



.inputNota {
    font-size: 15px;
    width: 100%;
    padding: 10px;
}


a[href^="tel:"],
a[href^="mailto:"] {
    color: #007BFF;
    /* Color azul (puedes cambiarlo) */
    text-decoration: none;
    /* Quitar subrayado */
    cursor: pointer;
    /* Cambiar el cursor a mano al pasar sobre el enlace */
    transition: color 0.3s ease;
    /* Transición suave al cambiar el color */
}

a[href^="tel:"]:hover,
a[href^="tel:"]:active,
a[href^="tel:"]:focus,
a[href^="mailto:"]:hover,
a[href^="mailto:"]:active,
a[href^="mailto:"]:focus {
    color: #0056b3;
    /* Color azul oscuro al pasar el mouse por encima o hacer clic */
}

.infogroup.ficha>.info,
.Seguimientos>.region__content>.infogroup>.info {
    display: flex;
    justify-content: stretch;
    width: 100%;
    margin-top: 0;
}

.infogroup.ficha {
    display: flex;
    flex-direction: column;
    margin-right: 20%;
    max-width: 30%;
}


.infogroup.ficha>.info>*,
.Seguimientos>.region__content>.infogroup>.info>* {
    flex: 1;
    margin: 2px;
}

.contenedorAlergias {
    margin-top: 10px;
    gap: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.Alerg {
    margin: 0;
    color: red;
    font-weight: bold;
    font-size: 24px;
    text-decoration: underline;
}

.Eda {
    margin-bottom: 0;
}

dt {
    font-size: 24px;
    margin-left: 10px;
}

dt::before {
    font-size: 18px;
    content: "■ ";
}

dd {
    font-size: 18px;
}


.page__controls>.infogroup {
    display: none;
    width: 300px;
    position: absolute;
    /* display: block; */
    background-color: rgb(237, 237, 237);
    border-radius: 5px;
    /* top: 30px; */
    margin-top: 300px;
    /* right: 300px; */
    padding: 10px 20px;
}


.info__item__content>input,
.info__item__content>select {
    padding: 5px;
}


/* AREA DE DIAGNOSTICOS */
.Seguimientos>h2 {
    padding-top: 5px;
    color: white;
    padding-bottom: 0;
    margin-left: 10px;
    font-size: 28px;
}

.Seguimientos>*>*>*>*>*>*>.info__item__title {
    color: #004368;
    /* color: red; */
    font-size: 24px;
}

.Seguimientos .info__item {
    height: 320px;
}

.Seguimientos .info__item__content {
    font-size: 18px;
}

.Seguimientos {
    border-radius: 5px;
    background: linear-gradient(-180deg, #5dc9ffc4, #1485c24c);
    margin-top: 20px;
    padding: 10px;
}

.Seguimientos .region__content {
    margin-top: 5px;
}

.Contenedor__Diagnosticos {
    padding-right: 15px;
    height: 180px;
    overflow-y: auto;
    border-radius: 5px;
}

.Contenedor__Diagnosticos.PrimerDiagnostico {
    padding-right: 15px;
    height: 270px;
    overflow-y: auto;
    border-radius: 5px;
}

.DiagnosticoTitulo {
    padding: 0;
    /* margin-top:px; */
}

.DoctorDiagnostico {
    font-size: 24px;
    font-weight: bold;
}

.Cont_Diagnostico {
    margin-top: 5px;
    padding: 5px;
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
}

.DoctorDiagnostico>span {
    color: #249DD9;
}

.Diagnostico_Receta {
    font-size: 20px;
    padding-bottom: 5px;
}

.info__item__tags {
    width: 50%;
    max-width: 335.5px;
}

#Etiquetas_Actuales,#Etiquetas {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    gap: 5px;
    width: 100%;
    /* max-width: 335.5px; */
    height: auto;
    border-radius: 5px;
    overflow-x: scroll;
    padding-bottom: 15px;
}

.Etiqueta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    background-color: #249DD9;
    color: white;
    padding: 5px;
    border-radius: 5px;
    gap: 5px;
}

.Etiqueta p {
    margin: 0; 
    white-space: nowrap; /* Evita el salto de línea */
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.Area0{
    background-color: #595959;
}

.Area1 {
    background-color: #249DD9;
}

.Area2 {
    background-color: #e40000;
}

.Area3 {
    background-color: #9c00b7;
}

.Area4 {
    background-color: #a8a8a8;
}



.Etiqueta p {
    margin: 0;
}

.Eliminar-Etiqueta {
    cursor: pointer;
    background-color: hsl(0, 100%, 50%);
    padding: 2px 6px 2px 6px;
    font-size: 12px;
    border-radius: 2px;
}

.Crear_padecimiento {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    border-radius: 5px;
    width: 100%;
    gap: 10px;
    overflow: hidden;
}

.Crear_padecimiento>input {
    width: 40%;
    padding: 10px;
    border: 1px solid #e9f2f7;
    border-radius: 5px;
}

.GuardarPadecimiento {
    background-color: #249DD9;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: #249DD9;
    cursor: pointer;
}

.CancelarPadecimiento {
    background-color: #ff0000;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: #ff0000;
    cursor: pointer;

}

.Crear_padecimiento>select {
    width: 20%;
    padding: 10px;
    border: 1px solid #e9f2f7;
    border-radius: 5px;

}


.AceptarOpciones {
    font-size: 14px;
    padding: 15px;
    border-radius: 10px;
    border: 0;
    color: #fff;
    background: rgba(5, 173, 5, 0.500);
    box-shadow: 0 0px 10px rgba(5, 173, 5, 0.0);
    transition: .5s;
  }
  .AceptarOpciones:hover {
    background: rgb(5, 173, 5);
    box-shadow: 0 0px 10px rgba(5, 173, 5, 0.5);
  }
  
  .CancelarOpciones {
    font-size: 14px;
    padding: 15px;
    border-radius: 10px;
    border: 0;
    color: #fff;
    background: rgba(255, 0, 0, 0.500);
    box-shadow: 0 0px 10px rgba(186, 0, 0, 0.0);
    transition: .2s;
  }
  
  .CancelarOpciones:hover {
    background: red;
    box-shadow: 0 0px 10px rgba(186, 0, 0, 0.5);
  }
  


@keyframes wiggle {

    0%,
    100% {
        transform: translateX(0);
        color: black;
        border-color: rgba(255, 0, 0, 0);
    }

    25% {
        transform: translateX(-5px);
    }
    50% {
        color: red;
        border-color: red;
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-2.5px);
    }
}

.wiggle {
    animation: wiggle 0.3s ease-in-out;
}



/* Estilo base para todos los divs */
div[id^="receta_"] {
    margin-bottom: 20px;
    /* Por defecto todos los divs tendrán margin-bottom */
}

.DoctorReceta,
#Doctor {
    display: block;
    font-size: 18px;
}

.DoctorReceta>b>span,
#Doctor>p>b>span {
    color: #249DD9;

}

.FechaReceta {
    font-weight: bold;
    font-size: 24px;
    color: #004368;
}


/* Contenedor que se mostrará de manera diferente al accionar los botones */
#Cont_Opciones {
    width: 100%;
    height: 100%;
    background: #00000049;
    position: fixed;
    /* Cambiado de absolute a fixed para que siga el scroll de la página */
    display: flex;
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    /* Centra verticalmente */
    z-index: 4;
    /* Ajusta el índice Z según sea necesario para asegurarte de que esté por encima de todo */
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: .2s;
}

form>h3 {
    margin: 0;
    margin-bottom: 5px;
    margin-left: 25px;
}

.ContenedorNota {

    display: flex;
    justify-content: space-between;

    align-items: center;
    margin-left: 25px;
}

/* Otros estilos si es necesario */
#Opciones {
    width: 50%;
    padding: 20px;
    background: #f3f8ff;
    border: 2px solid #249dd98b;
    border-radius: 10px;
}

#Opciones>p {
    text-align: center;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}

#TituloOpciones {
    padding: 0;
    text-align: center;
}

.TituloCheckout {
    padding-bottom: 0px;
}

.PrecioProcedimiento {
    margin-top: 0px;
}

.BotonesOpciones {
    display: flex;
    justify-content: right;
    margin-top: 20px;
    gap: 10px;
}

.Botones {
    display: flex;
    gap: 10px;
}


#valorCheckout {
    padding: 10px;
    border: 2px solid #00792e8b;
    border-radius: 5px;
    color: green;
    font-size: 50px;
    width: 97%;
}

.Receta_actual {
    margin-bottom: 20px;
}

.elemento-receta {
    margin-top: 20px;
}

#ContenedorEditMedicamentos>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

#ContenedorEditMedicamentos .New {
    display: block;
    margin-left: 45px;

}


.Cont_Seguimiento {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 225px;
    padding-right: 20px;
    margin-bottom: 10px;
}

.Cont_Seguimiento>p {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.footerSeguimiento {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

}

.Cont_Diagnosticos {
    width: 80%;
}

.inputDiagnostic {
    width: 100%;
    padding: 10px;
    border: 1px solid #e9f2f7;
    border-radius: 5px;

}

.resultados-autocompletado {
    position: absolute;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px #0000004d;
    overflow: hidden;
}

.resultados-autocompletado>.diagnosticos_Resultado {
    padding: 10px;
    cursor: pointer;
}

.resultados-autocompletado>.diagnosticos_Resultado:hover {
    background-color: #249DD9;
    color: white;
}

.diagnosticos_CrearBoton {
    background-color: #cacaca;
    color: white;
    padding: 10px;
    cursor: pointer;
    text-decoration: double;
}

.diagnosticos_CrearBoton:hover {
    background-color: rgba(255, 166, 0, 0.75);
    color: white;
}

.selector {
    width: 100%;
}

.drag {
    margin-left: 10px;
    cursor: move;
    font-size: 30px;
    padding-bottom: 5%;
}


.InfoOpciones>.infogroup {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.InfoOpciones>.infogroup>button {
    margin-top: 30px;
    padding: 10px;
    font-size: 16px;
    color: white;
    border: 0;
    border-radius: 5px;
    background-color: red;
}

/* Estilos de la paginacion: */

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    padding: 0;
}

.pagination li {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    background-color: #f5fcfe;
    border: 1px solid #e2e8f6;
}

.pagination li:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination li:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}


.pagination li a {
    text-decoration: none;
    color: #249DD9;
}

.page-item.active,
.page-item.active>* {
    z-index: 1;
    color: #fff;
    background-color: #249DD9;
    border-color: #249DD9;
}

.footer {
    display: flex;
    position: relative;
    flex-direction: column;
    align-content: center;
    margin-top: 100px;
    color: white;
    padding: 0;
    width: 100%;
    background: #29abe2;
    align-items: center;
}

.footer b {
    padding: 15px;
}